name: Rust

on: [push]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
        name: Checkout code
        with:
          fetch-depth: 1
      - uses: actions-rs/toolchain@v1
        name: Install toolchain
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl
      - uses: actions-rs/cargo@v1
        name: Check formatting
        with:
          command: fmt
          args: -- --check
      - uses: actions-rs/cargo@v1
        name: Run tests (ahm!)
        with:
          command: test
          args: --verbose
      - uses: actions-rs/cargo@v1
        name: Run clippy
        with:
          command: clippy
      - uses: actions-rs/cargo@v1
        name: Build
        with:
          command: build
          args: --verbose
